godot-cpp/
demo/bin/libgdexample.linux.template_debug.x86_64.so
src/gdexample.os
src/register_types.os
demo/bin/*.so
lib
.sconsign.dblite
/*.os
/**/*.ossrc/main.a
src/main.os
./src/gdexample3d.os
src/main.a
/**/*.oscompile_commands.json
src/scenes/environment/EnvironmentLight.os
src/scenes/camera/hud/CameraHud.os
src/scenes/level/base/LevelBase.os
src/scenes/world/WorldBase.os
src/objects/script/EngineLuaScript.os
src/objects/script/EngineGdScript.os
src/objects/node/Node3DScript.os
src/scenes/camera/CameraBase.os
src/scenes/camera/hud/CameraContainer.os
compile_commands.json
